<h5>Información Personal</h5>

<table class="table table-borderless">
    <thead>
    <tr>
        <th scope="col">Campo</th>
        <th scope="col">Información</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Boleta:</th>
        <td id ="iBoleta"></td>
    </tr>
    <tr>
        <th scope="row">Nombre:</th>
        <td id ="iNombre"></td>
    </tr>
    <tr>
        <th scope="row">Apellidos:</th>
        <td id = "iApellidos"></td>
    </tr>
    <tr>
        <th scope="row">Carrera:</th>
        <td id ="iCarrera"></td>
    </tr>
    <tr>
        <th scope="row">Estado:</th>
        <td id = "iEstado"></td>
    </tr>
    <tr>
        <th scope="row">Email:</th>
        <td id = "iCorreo" ></td>
    </tr>
    <tr>
        <th scope="row">CURP:</th>
        <td id = "iCURP" ></td>
    </tr>
    <tr>
        <th scope="row" >Telefono:</th>
        <td id = "iTelefono"></td>
    </tr>
    <tr>
        <th scope="row">Celular:</th>
        <td id = "iCelular"></td>
    </tr>

    </tbody>
</table>

<div id="edit-personal">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email: mail@example.com">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCURP">CURP</label>
                <input type="text" class="form-control" id="inputCURP" placeholder="Ex: HEA9683002951">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputTel">Telefono</label>
                <input type="text" class="form-control" id="inputTel"  placeholder="Ex: 57896425">
            </div>

            <div class="form-group col-md-3">
                <label for="inputCell">Celular</label>
                <input type="text" class="form-control" id="inputCell"  placeholder="Ex: 0448985961235">
            </div>
        </div>
    </form>
</div>

<div>
    <button id="edit-info" type="button" class="btn btn-outline-primary" onclick="editPersonalInfo()">Editar</button>
    <button id="save-info" type="button" class="btn btn-outline-primary" onclick="savePersonalInfo()">Guardar</button>
</div>
